.greetingBlockSection {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-l);
}

.greetingBlock {
  margin-bottom: 12px;
  line-height: 4rem;
}

.greetingBlockContinue {
  font-size: var(--font-size-m);
  font-weight: 700;
  line-height: 2.5rem;
  text-align: justify;
}

.boldText {
  color: var(--bold-color);
}

.aboutInvisible {
  opacity: 0;
  transform: translateY(50px);
  transition:
  opacity 0.7s ease,
  transform 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1200px) {
  .greetingBlockSection {
    justify-content: flex-end;
    font-weight: 700;
    font-size: var(--font-size-xl);
    margin: 0;
  }

  .greetingBlock {
    margin-bottom: 0;
    color: var(--bold-color);
    margin: 0 32px 16px 32px;
    line-height: var(--font-line-l);
  }

  .greetingBlockContinue {
    font-size: var(--font-size-2xl);
    font-weight: 700;
    line-height: 2.5rem;
    text-align: justify;
    margin: 0 32px;
  }

  .boldText {
    color: var(--bold-color);
  }
}
