.dark {
    --bg-color: #383836;
    --inverted-bg-color: #e9e5db;
    --inverted-hover-bg-color: #c5c2b9;
    --primary-color: #d4d1c7;
    --bold-color: #ffffff;
    --inverted-primary-color: #61686b;
}