.link {
  text-decoration: none;
  color: #61686b;
  vertical-align: top;
  margin: 12px 0;
}

.contacts {
  display: block;
  font-size: var(--font-size-l);
  font-weight: 500;
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .invisibleMenu {
    display: none;
  }
}
