@import '@fontsource/jura/400.css';
@import '@fontsource/jura/600.css';
@import '@fontsource/jura/700.css';
$background-color: #fff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: #61686b;
}

body {
  font-family: 'Jura', sans-serif;
  background-color: $background-color;

  header {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    .navBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 0;
      span {
        font-size: 2.5rem;
        font-weight: 600;
        display: block;
        a {
          text-decoration: none;
          color: #61686b;
          vertical-align: top;
        }
      }
      .name {
        display: none;
      }
      .iconMenu {
        display: none;
      }
      .scribble {
        animation-name: cycle;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      @keyframes cycle {
        0% {
          transform: rotateZ(0deg) scale(1);
        }
        50% {
          transform: rotateZ(180deg) scale(1.2);
        }
        100% {
          transform: rotateZ(360deg) scale(1);
        }
      }
    }
  }

  main {
    margin: 1rem 1rem;
  }
  footer {
    .footerWrapper {
      padding: 1rem 1rem;
      max-width: 100%;
      height: auto;
      background-color: #d4d4d4;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      div {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 4rem 1rem;
      }
      .contactInst {
        display: block;
        width: 100px;
        height: 100px;
        font-size: 4rem;
        position: relative;
      }
      .contacts {
        display: block;
        font-size: 3rem;
      }
      .contactTG {
        display: block;
        font-size: 11rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 600px) {
  html,
  body {
    width: 600px;
    font-size: 12px;
    margin: 0 auto;
    header {
      .navBar {
        justify-content: space-between;
        margin: 0 1rem;
        .about {
          a {
            display: none;
          }
        }
        .name {
          display: inline;
          padding: 0.5rem 0 0 2rem;
          margin: 0 auto 0 0;
          font-size: 3rem;
          vertical-align: bottom;
        }
        .scribble {
          margin: 0.5rem 0 0 0;
        }
        .iconMenu {
          display: block;
          margin: 0.5rem 0 0 auto;
        }
      }
    }
    main {
      .portfolioArt {
        display: block;
        margin: 3rem auto;
        border-radius: 1rem;
      }
    }
    footer {
      .footerWrapper {
        height: auto;
        div {
          padding: 0;
        }
        .contactTG {
          height: 10rem;
        }
      }
    }
  }
}
