@use '../styles/variables/variables.scss' as *;
@use '../styles/themes/normal.scss' as *;
@use '../styles/themes/dark.scss' as *;
@use '../styles/reset.scss' as *;

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family-main);
  scroll-behavior: smooth;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

header {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

main {
  flex: wrap;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}

.name {
  font-size: var(--font-size-l);
  font-weight: 600;
  display: block;
}

.iconMenu {
  display: none;
}

.scribble {
  display: none;
  animation-name: cycle;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cycle {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateZ(180deg) scale(1.2);
  }
  100% {
    transform: rotateZ(360deg) scale(1);
  }
}

main {
  margin: 1rem 1rem;
}

.imageContainer {
    position: relative;
    width: calc(100vw - 85rem);
    height: calc(100vw - 85rem);
    margin: 3rem auto;
    padding: 0 2rem;
}



@media (max-width: 600px) {
  html,
  body {
    width: 100%;
    max-width: 100vw;
    font-size: 7px;
    margin: 0 auto;
  }
  
  .navBar {
    justify-content: space-between;
    margin: 0 2rem;
  }
    
  .name {
    display: inline;
    padding: 0.5rem 0 0 2rem;
    margin: 0 auto 0 0;
    font-size: 3rem;
    vertical-align: bottom;
  }
  .scribble {
    display: block;
    margin: 0.5rem 0 0 0;
  }
  .iconMenu {
    display: block;
    margin: 0.5rem 0 0 auto;
  }
  
  .portfolioArt {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
  }

  .imageContainer {
    position: relative;
    width: calc(100vw - 6rem);
    height: calc(100vw - 6rem);
    margin: 3rem auto;
    padding: 0 2rem;
    display: block;
}
}
