.artSlider {
  padding: 50px 10px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.swiper {
  width: 100%;
  padding-bottom: 50px;
}

.slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 1024px) {
  .artSlider {
    padding: 40px 0;
  }

  .imageContainer {
    height: 350px;
  }
}

@media (max-width: 640px) {
  .artSlider {
    padding: 15px 0;
  }

  .swiper {
    padding-bottom: 40px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .imageContainer {
    width: 100%;
    height: calc((100vw - 24px) * 1.4);
    max-height: 100vh;
  }

  .image {
    object-fit: contain !important;
  }
}
