.aboutInvisible {
  opacity: 0;
  transform: translateY(50px);
  transition:
  opacity 0.7s ease,
  transform 0.7s ease;
  border-top: 1px solid var(--inverted-bg-color);
}

.ArtPreviewTitle {
  font-size: var(--font-size-l);
  margin: 16px 0 16px 0;
  text-align: center;
}

.linkWrapper {
  width: 250px;
  display: flex;
  margin: 24px 0 24px auto;
  justify-content: center;
  background-color: none;
  border: 1px solid var(--inverted-bg-color);
}

.linkGallery {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0;
  padding: 16px;
  font-size: var(--font-size-m);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1200px) {
    .aboutInvisible {
      border-top: 2px solid var(--inverted-bg-color);
    }
    .linkWrapper {
      width: 300px;
      border: 2px solid var(--inverted-bg-color);
    }

    .linkGallery {
      font-size: var(--font-size-l);
    }
}