.ArtPreviewTtile {
  display: block;
  margin: 2rem;
  padding-top: 2rem;
  border-top: var(--border-top);
  text-align: center;
  font-size: var(--font-size-l);
}

.artPreview {
  display: flex;
  margin: 0 2rem 0 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  .artPreviewImg {
    margin-bottom: 5rem;
  }
}

.linkWrapper {
  width: 35rem;
  display: flex;
  margin: 0 auto 0 auto;
  border-radius: 1rem;
  justify-content: center;
  background-color: var(--inverted-bg-color);
  .arrow {
    margin: auto 0;
  }
}

.linkGallery {
  color: var(--inverted-primary-color);
  text-decoration: none;
  margin: 0;
  padding: 1rem;
  font-size: var(--font-size-m);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.aboutInvisible {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
