.ArtPreviewTtile {
  display: block;
  font-size: 4rem;
  margin: 2rem;
  padding-top: 2rem;
  text-align: center;
  border-top: 0.3rem solid #61686b90;
}

.artPreview {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .artPreviewImg {
    margin-bottom: 5rem;
  }
}

.linkWrapper {
  width: 35rem;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  background-color: #61686b90;
  border-radius: 1rem;
  .arrow {
    margin: auto 0;
  }
}

.linkGallery {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.aboutInvisible {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
