.wrapper {
  margin: 0 auto;
}

.tittle {
  margin: 20px;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}

.artWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name,
.date {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  color: var(--primary-color);
}

.link {
  text-decoration: none;
  margin: 2rem; 
}
