.footerWrapper {
    margin: 5rem 2rem 0 2rem;
    padding: 2rem 1rem;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 0.3rem solid #61686b90;
}
.linksContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 4rem 1rem;
}
.contactInst {
    display: block;
    width: 100px;
    height: 100px;
    font-size: 4rem;
    position: relative;
}
.contacts {
    display: block;
    font-size: 3rem;
}

@media (max-width: 600px) {
    .footerWrapper {
        height: auto;
    }
    .linksContainer {
        padding: 0;
    }
    .contactTG {
        height: 10rem;
    }
}
