.footerWrapper {
    margin: 24px 32px 0 32px;
    padding: 2rem 1rem;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid var(--inverted-bg-color);
}

.contact {
    font-size: var(--font-size-l);
    font-weight: 700;
    margin-bottom: 16px;
    text-align: justify;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 4rem 1rem;
}

.meta {
    display: inline-block;
    margin: 24px 0 0 auto;
    color: var(--primary-color);
    font-size: var(--font-size-m);
}

@media (max-width: 600px) {
    .footerWrapper {
        height: auto;
    }
    .linksContainer {
        padding: 0;
    }
}
