@import '@fontsource/jura/400.css';
@import '@fontsource/jura/600.css';
@import '@fontsource/jura/700.css';

:root {
    --font-family-main: 'Jura', sans-serif; 
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 40px;
    --font-m: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --border-top: 0.3rem solid #61686b90;
}