@import '@fontsource/jura/400.css';
@import '@fontsource/jura/600.css';
@import '@fontsource/jura/700.css';

:root {
    --font-family-main: 'Jura', sans-serif; 
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-m: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --font-size-xxl: 40px;
    --font-line-xxl: 48px;
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);
    --font-size-3xl: 48px;
    --font-line-3xl: 56px;
    --font-3xl: var(--font-size-3xl) / var(--font-line-3xl) var(--font-family-main);
    --border-top: 0.3rem solid #61686b90;
    --angel: 0deg;
}