.button {
  font-family: var(--font-family-main);
  text-decoration: none;
  border: none;
  background: none;
}

.link {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
}
