.card {
    width: 100%;
    height: 500px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    display: block;
    object-fit: cover !important;
}