.toggle {
    width: 32px;
    height: 16px;
    position: relative;
    display: block;
    background: var(--inverted-bg-color);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.toggle::after {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: var(--bg-color);
    border-radius: 8px;
    transition: 0.3s;
}

.checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
}

.checkbox:checked + .toggle::after {
    left: 31px;
    transform: translateX(-100%);
}

.toggle:active::after {
    width: 14px;
}

@media (min-width: 1200px) {
    .ThemeSwitcher {
        display: flex; 
        align-items: center;
    }

    .toggle {
        width: 48px;
        height: 24px;
        border-radius: 24px;
    }

    .toggle::after {
        width: 22px;
        height: 22px;
        top: 1px;
        left: 1px;
        border-radius: 22px;
    }

    .checkbox:checked + .toggle::after {
        left: 47px;
        transform: translateX(-100%);
    }

    .toggle:active::after {
        width: 32px;
    }
}