.preViewBlock {
  height: 40rem;
  background-color: rgba(168, 33, 89, 0.664);
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes loading {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
